# ✅ Contract verification



<table><thead><tr><th width="214">Contract</th><th width="154">Compiler version</th><th>Standard JSON file</th></tr></thead><tbody><tr><td>JibswapV2Router02</td><td>0.6.6</td><td><a href="https://github.com/jibswap/jibswap-core/blob/main/deployments/jibchain/solcInputs/JibswapV2Router02.json">https://github.com/jibswap/jibswap-core/blob/main/deployments/jibchain/solcInputs/JibswapV2Router02.json</a></td></tr><tr><td>JibswapV2Pair</td><td>0.5.16</td><td><a href="https://github.com/jibswap/jibswap-core/blob/main/deployments/jibchain/solcInputs/JibswapV2Pair.json">https://github.com/jibswap/jibswap-core/blob/main/deployments/jibchain/solcInputs/JibswapV2Pair.json</a></td></tr><tr><td></td><td></td><td></td></tr></tbody></table>
